:root{
    --orange: #f08204;
    --red: #710000;
    --purple: #A74482;
    --blue: #1B1B3A;
}

body{
    margin: 0;
    font-family: 'ubuntu', sans-serif;
    font-size: 16px;
    line-height: 1.4;
}

 h2{
    margin-left: -1rem;
}
p{
    line-height: 1.6;
}
.container-body{
    display: flex;
}

/* Header */


header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* color: var(--orange); */
    color: white;
    margin-bottom: 4rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.308);
    background-image: url(images/mark-olsen-oZqJMbQMJ-4-unsplash.-cinnamon-rolls-cropped.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
}

.header-text{
    width: 100%;
    padding: 1em 0;
    border-radius: 5px;
}

header h1{
    margin-bottom: 0;
}

/* .container, section, aside{
    border: 1px solid black;
} */


/* Navigation */


.container-body aside{
    flex-direction: column;
    width: 15%;
    /* margin-top: 3rem; */
}

nav ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}

nav li{
    margin-bottom: 1rem;
    color: gray;
}

nav li:hover, nav li:focus{
    color: orange;
    cursor: pointer;
}


/* Recipes */


.container-body #recipes{
    width: 85%;
    margin: 0 2rem;
}

.recipe-card{
    border: 1px solid black;
    box-shadow: .5em .5em .5em lightgray;
    padding: 1em;
    margin-bottom: 1em;
}

@media print{
    .recipe-body ul {
        list-style: none;
    }

    .recipe-body li::before{
        content: '\2610';
        margin: 0;
        margin-right: 1em;
    }
}

/* right side */




/* footer */




@media (max-width: 800px){
    header{
        margin-bottom: 2rem;
    }

    .header-text{
        padding: 0;
    }

    .header-text p{
        margin-top: 0;
    }
    
    .container-body{
        flex-direction: column;
    }

    .container-body aside{
        width: 75%;
        margin: 0 auto;
    }

    .container-body aside ul{
        width: 75%;
        flex-direction: row;
        justify-content: space-between;
    }
}